.screenContainer {
	width: 100%;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    margin: 0px !important;
    height: 100%;
     margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
    top:0;
    left:0;
    right:0;
    font-weight: 600;
    position: fixed;
    z-index: 1;
    overflow: hidden;
}
.infoContainer {
	width: 100%;
    
    margin: 0px !important;
    color: white;
    height: 300px;
    font-weight: 600;
    position: fixed;
    z-index: 2;
    bottom: 0px;
    left:0;
    background-color: rgba(0, 46, 93,0.75);
    font-family: 'Lato', sans-serif;
}
.componentBlock {
	margin-left: 0px;
	padding-left: 0px;
    font-family: 'Lato', sans-serif;
	float: left;
	width:  100%;
    height: 100%;
    left:0;
     margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
	color: white;

}
#stuff {
    overflow:hidden;
    bottom: 0;
}
.toggler { 
	width:  100%;
    height: 30px;
    bottom: 300px;
    margin-left: 0px;
    padding-left: 0px;
    background-color:black;
    position: fixed;
    opacity:0.7;
    left:0;
    z-index: 2;
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
btnholder {
    height: inherit;
    opacity: inherit;
    margin: auto;
    display: inline-block;
    z-index: 2;
    width: 25%;
    
}
btn {
    font-family: 'ariel',sans-serif;
    height: inherit;
    opacity: inherit;  
    cursor: pointer;
    margin-left: 0%;
    display: inline-block;
}
centerbtn {
    opacity: inherit;
    background-image: url(images/Targetbuttonoff.png);
    width: 25px;
    height: 25px;
    float: right;
    cursor: pointer;
    background-size: 25px 25px;  
}
centerbtn:hover {
    background-image: url('images/Targetbutton.png');
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
}

locatebtn {
    opacity: inherit;
    height: inherit;
    display: inline-block;
    float: left;
    background-image: url(images/LocateButtonoff.png);
    background-size: 25px 25px;
    width:25px;
    height: 25px;
    cursor: pointer;
    z-index: 3;

}
locatebtn:hover {
    background-image: url(images/LocateButton.png);
    background-size: 25px 25px;
}
curralt{
    font-family: 'Lato',sans-serif,italic;
    color:white;
    width: 20%;
    position: absolute;
    left: 0%;
    text-align: left;
    height: inherit;
    font-size: 150%;
    border-right: solid #000000 1px;
}
latlong{
    font-family: 'Lato',sans-serif,italic;
    color:white;
    width: 20%;
    position: absolute;
    right:0%;
    font-size: 150%;
    text-align: right;
    height: inherit;
    border-right: solid #000000 1px;
}
.topper{
    position: absolute;
    z-index: 2;
    margin-left: 38.5%;
    margin-right: 50%;
    width: 25%;
    height: 22px;
    opacity: .6;
    top:0px;
    color: white;
    font-family: 'Lato',sans-serif,italic;
    background-color: black;
    border-color: black;
    border-width: 1px;
    border-radius: 0px 0px 25px 25px;
    display: inline-block;
 
}
callsign{
    margin-left: 2%;
    width: auto;
    text-align: center;
    position: fixed;
    height: inherit;
    top:0px;
    
}

logo{
    position: relative;
    margin-left: 47%;
    margin-right:50%;
    height: inherit;
    top: 0px;
    display: inline-block;
}

mode {
    margin-right: 2%;
    margin-left: 20%;
    top: 0px;
    height: inherit;
    position: fixed;
}

btn:hover {
  text-decoration: none;
  opacity: 1;
  color: #C63527;
}

#flotAltcontainer {
    opacity: 0.4;
    z-index: 2;
    font-family: 'Lato',sans-serif,italic,bold;
    font-size:500%;
    font-style: italic;
    position: relative;
    text-align:center;
    width: 600px;
    height: 300px;
    line-height: 250px;
    left: 0px;
    float: left;
}

#flotAltitudeChart{
    float: left;
    z-index: 3;
    position: absolute;
    left:0px;
    top:0px;
    width: 600px;
    height: 300px;
    font-size: 100%;
    opacity: 1;
    
}

#flotVeloContainer {
    opacity: 0.4;
    z-index: 2;
    font-family: 'Lato',sans-serif;
    font-size:500%;
    font-style: italic;
    position: relative;
    text-align:center;
    float: right;
    right: 0px;
    width: 600px;
    height: 300px;
    line-height: 250px;
}

#flotVeloChart {
    float: right;
    width: 600px;
    height: 200px;
    top:0px;
    right: 0px;
    position: absolute;
    z-index: 3;
    font-size: 100%;
    opacity: 1.0;
}
.tickLabel { 
    font-family: 'Lato',sans-serif;
    font-size: 100% ;
    color: white;
    opacity: 1.0;
    height: 30px;
    top:0px;
}

html, body {
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%); 
    width: 100%;
    height:100%;
    top 0;
    overflow:hidden;
}
