.screenContainer {
	width: 100%;
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
    margin: 0px !important;
    height: 100%;
     margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
    top:0;
    left:0;
    right:0;
    font-weight: 600;
    position: fixed;
    z-index: 1;
    overflow: hidden;
}
.infoContainer {
	width: 100%;
    opacity: 0.7;
    margin: 0px !important;
    color: white;
    height: 300px;
    font-weight: 600;
    position: fixed;
    z-index: 2;
    bottom: 0px;
    left:0;
    background-color: rgb(0, 46, 93);
    font-family: 'Lato', sans-serif;
}
.componentBlock {
	margin-left: 0px;
	padding-left: 0px;
    font-family: 'Lato', sans-serif;
	float: left;
	width:  100%;
    height: 100%;
    left:0;
     margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
	color: white;

}
#stuff {
    overflow:hidden;
    bottom: 0;
}
.toggler { 
	width:  100%;
    height: 30px;
    bottom: 300px;
     cursor: pointer;
    margin-left: 0px;
    padding-left: 0px;
    background-color:black;
    position: fixed;
    opacity:0.7;
    left:0;
    z-index: 2;
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: center;
}
btn {
  font-family: 'ariel',sans-serif;
  height: inherit;
  opacity: inherit;  
}
curralt{
    font-family: 'Lato',sans-serif,italic;
    color:white;
    width: 40%;
    position: absolute;
    left: 0%;
    text-align: left;
    height: inherit;
    border-right: solid #000000 1px;
}
latlong{
    font-family: 'Lato',sans-serif,italic;
    color:white;
    width: 40%;
    position: absolute;
    right:0%;
    text-align: right;
    height: inherit;
    border-right: solid #000000 1px;
}
.topper{
    position: fixed;
    z-index: 2;
    margin-left: 37%;
    margin-right: 50%;
    width: 25%;
    opacity: .6;
    top:0px;
    color: white;
    font-family: 'Lato',sans-serif,italic;
    background-color: black;
    border-color: black;
    border-width: 1px;
    border-radius: 0px 0px 25px 25px;
 
}
callsign{
    margin-left: 2%;
    width: auto;
    text-align: center;
    position: fixed;
    height: inherit;
    top:0px;
    
}

logo{
    position: relative;
    margin-left: 47%;
    margin-right:50%;
    height: inherit;
    top: 0px;
}

mode {
    margin-right: 2%;
    margin-left: 20%;
    top: 0px;
    height: inherit;
    position: fixed;
}

btn:hover {
  text-decoration: none;
  opacity: 1
}

html, body {
       background-image: linear-gradient(to top, #09203f 0%, #537895 100%); 
    width: 100%;
    height:100%;
    top 0:
    overflow:hidden;
}
